<%- content_for :extra_javascript do -%>
  <script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=83E780CB3C5625AFE0405F0AC86040CC"></script>
<%- end -%>
<%- content_for :onload do -%>
  init_map();
<%- end -%>
<div id="map"></div>

