#osmap, #open_streetmap, #open_cyclemap {
  width: 320px;
  height: 375px;
}
.fullscreen #osmap,.fullscreen #open_streetmap,.fullscreen #open_cyclemap {
  width: 320px;
  height: 415px;
}
.free_floating{
  margin: 0px 10px 5px 10px;
  text-align: center;
}
#search_results{
  display: none;
}