<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-GB">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>iOSmap</title>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jqtouch.min', 'jqt.location', 'application' %> 
  <%= yield :extra_javascript %>
  <%= stylesheet_link_tag 'application', 'jqtouch.min', 'apple_theme.min' %>
</head>
<body>
  <%= yield %>
</body>
</html>